html {
  font-family: sans-serif;
}

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 600px;
  margin: auto;
}

button {
  background: #f3f3f3;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 3px solid #c9c9c9;
  border-radius: 3px;
}

button.next {
  background: #6ad85c;
  border-bottom: 3px solid #5abc4e;
}

button.start,
button.restart {
  margin-top: 20px;
}
