.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  padding-left: 2em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    width: 1.7em;
    height: 4em;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* screen */
@media only screen and (min-width: 1024px) {
  .filter-select{
    padding-left: 30%;
    padding-right: 30%;
  }

  .button-to-top {
    position: fixed;
    font-size: 15px;
    bottom: 50px;
    right: 20%;
  }
  .img-technique{
    padding-bottom: 3em;
    width: 40%;
  }
}

/* phone */
@media screen and (max-width:632px) {
  .filter-select{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .button-to-top {
    position: fixed;
    font-size: 30px;
    bottom: 10%;
    right: 5%;
  }
  .img-technique{
    padding-bottom: 3em;
    width: 80%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
